streamlit==1.14.0
pandas
plotly.express
wordcloud
spacy
sentiment-analysis-spanish
scikit-learn
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.0.0/es_core_news_md-3.0.0.tar.gz#egg=es_core_news_md
